/* src/pages/CompetitionDetail.css */

.contact-person-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

@media (min-width: 768px) {
  .contact-person-wrapper {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
