.sponsor-section {
  text-align: center;
  padding: 40px 20px;
}

.sponsor-title {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 30px;
  font-weight: bold;
}

.sponsor-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px; /* Increased gap to accommodate for the larger shadow */
  max-width: 1200px;
  margin: 0 auto;
}

.sponsor-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Pastikan logo terlihat penuh tanpa terpotong */
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .sponsor-title {
    font-size: 2em;
  }
  .sponsor-grid {
    gap: 30px;
    flex-direction: column; /* Stack vertically on smaller screens */
  }
}
